<!doctype html>
<html lang="zh-cmn-Hant-TW">
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
        <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="csrf-token" content=""> 
<title>傑尼龜 | 寶可夢圖鑑 | The official Pokémon Website in Taiwan</title>
<meta name="keywords" content="傑尼龜,寶可夢,寶可夢,Pokemon,寶可夢圖鑑">
<meta name="description" content="甲殼的作用不僅是用來保護自己，圓潤的外形和表面的溝槽會減少水的阻力，使牠能夠快速地游泳。">
<meta property="og:title" content="傑尼龜 | 寶可夢圖鑑 | The official Pokémon Website in Taiwan">
<meta property="og:description" content="甲殼的作用不僅是用來保護自己，圓潤的外形和表面的溝槽會減少水的阻力，使牠能夠快速地游泳。">
<meta property="og:image" content="https://tw.portal-pokemon.com/play/resources/pokedex/img/pm/5794f0251b1180998d72d1f8568239620ff5279c.png">
<meta property="og:type" content="article">
<meta property="og:site_name" content="The official Pokémon Website in Taiwan">
<meta name="twitter:card" content="summary_large_image">
<meta name="format-detection" content="telephone=no">
<link rel="canonical" href="https://tw.portal-pokemon.com/play/pokedex/007">
<link rel="alternate" href="https://cn.portal-pokemon.com/play/pokedex/007" hreflang="zh-cn">
<link rel="alternate" href="https://tw.portal-pokemon.com/play/pokedex/007" hreflang="zh-tw">
<link rel="alternate" href="https://hk.portal-pokemon.com/play/pokedex/007" hreflang="zh-hk">
<link rel="alternate" href="https://ph.portal-pokemon.com/play/pokedex/007" hreflang="en-ph">
<link rel="alternate" href="https://my.portal-pokemon.com/play/pokedex/007" hreflang="ms">
<link rel="alternate" href="https://in.portal-pokemon.com/play/pokedex/007" hreflang="en-in">
<link rel="alternate" href="https://id.portal-pokemon.com/play/pokedex/007" hreflang="id">
<link rel="alternate" href="https://vn.portal-pokemon.com/play/pokedex/007" hreflang="vi">
<link rel="alternate" href="https://th.portal-pokemon.com/play/pokedex/007" hreflang="th">
<link rel="alternate" href="https://sg.portal-pokemon.com/play/pokedex/007" hreflang="en-sg">
<link rel="alternate" href="https://www.portal-pokemon.com/play/pokedex/007" hreflang="x-default">
<link rel="stylesheet" href=  "/css/style.css"  >
<link rel="stylesheet" type="text/css" href="/play/resources/pokedex/css/app.css?20210227">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-554S3MJ');</script>
<!-- End Google Tag Manager -->
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-554S3MJ"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <header class="global-header" role="banner">
		<div class="global-header__body">
			<div class="global-header__title">
            <h1 class="global-header__site-name"><a href="/"><img src="/img/common/logo.png" alt="Pokemon" width="130"></a></h1>
			</div>
			<nav class="nav-global" role="navigation">
				<div class="nav-global__body">
					<ul class="nav-global__list">
                        <li class="nav-global__item"><a class="nav-global__item--anime" href="/anime/"><span>電視動畫系列</span></a></li>
                        <li class="nav-global__item"><a class="nav-global__item--movie" href="/movie/"><span>電影</span></a></li>
                        <li class="nav-global__item"><a class="nav-global__item--goods" href="/goods/"><span>商品</span></a></li>
                        <li class="nav-global__item"><a class="nav-global__item--app" href="/apps/"><span>應用程式</span></a></li>
                        <li class="nav-global__item"><a class="nav-global__item--game" href="/game/"><span>遊戲</span></a></li>
                        <li class="nav-global__item"><a class="nav-global__item--card" href="/card/"><span>卡牌遊戲</span></a></li>
                        <li class="nav-global__item"><a class="nav-global__item--event" href="/event/"><span>活動</span></a></li>
                        <li class="nav-global__item nav-global__item--what"><a href="/play/pokedex"><span>寶可夢圖鑑</span></a></li>
					</ul>
					<div class="global-header__sp-close visible-xs">
						<button>
							<span>Close</span>
						</button>
					</div>
				</div>
			</nav>
		</div>
		<div class="global-header__sp-menu visible-xs">
			<button>
				<span></span>
				<span></span>
				<span></span>
			</button>
		</div>
	</header>        <div class="announcement">
	<a href="/special/award_asia_2021_result/">
		<p>Pokémon Asia My Award的投票結果終於揭曉了！</p>
	</a>
</div>
        <div class="contents pokemon-detail-contents" data-max-status="15">
    <div class="pokemon-detail">
        <div class="pokemon-detail__header">
            <div class="pokemon-detail__header__inner">
                <span class="size-20"><a class="pokemon-detail__header__back-to-top" href="/play/pokedex">寶可夢圖鑑</a></span>
            </div>
        </div> 
        <div class="pokemon-detail__slider">
            <div class="pokemon-slider">
                                                        <div class="pokemon-slider__wrapper pokemon-slider__wrapper--left">
                        <a href="/play/pokedex/006_3">
                                                <img class="pokemon-slider__arrow pokemon-slider__arrow--left hover_image" src="/play/resources/pokedex/img/arrow_left_btn.png">
                        </a>
                        <span class="pokemon-slider__sub-no pokemon-slider__sub-no--left size-14">006</span>
                        <span class="pokemon-slider__sub-name pokemon-slider__sub-name--left size-15">噴火龍</span>
                                </div>
                <div class="pokemon-slider__main">
                    <p class="pokemon-slider__main-no size-28">007</p>
                    <p class="pokemon-slider__main-name size-35">傑尼龜</p>
                    <p class="pokemon-slider__main-subname size-20"></p>
                </div>
                                                        <div class="pokemon-slider__wrapper pokemon-slider__wrapper--right">
                        <a href="/play/pokedex/008">
                                            <img class="pokemon-slider__arrow pokemon-slider__arrow--right hover_image" src="/play/resources/pokedex/img/arrow_right_btn.png">
                    </a>
                    <span class="pokemon-slider__sub-name pokemon-slider__sub-name--right size-15">卡咪龜</span>
                    <span class="pokemon-slider__sub-no pokemon-slider__sub-no--right size-14">008</span>
                                </div>
            </div>
        </div>
        <div class="pokemon-detail__profile">
            <div class="pokemon-main">
                <div class="pokemon-main__center">
                    <div class="pokemon-img">
                        <img class="pokemon-img__back" src="/play/resources/pokedex/img/pokemon_bg.png">
                        <img class="pokemon-img__blur" src="/play/resources/pokedex/img/pokemon_circle_bg.png">
                        <img class="pokemon-img__front" src="/play/resources/pokedex/img/pm/5794f0251b1180998d72d1f8568239620ff5279c.png">
                    </div>
                </div>
                <div class="pokemon-main__upper-left">
                    <div class="pokemon-type__title size-20">屬性</div>
                        <div class="pokemon-type">
                         
                                                     <div class="pokemon-type__type pokemon-type__type--water pokemon-type__type--only size-14">
                                 <a href="/play/pokedex/water#result">
                                     <span>水</span>
                                </a>
                            </div>
                                             </div>
                </div>
                <div class="pokemon-main__bottom-left">
                    <div class="pokemon-weakness__title size-20">弱點</div>
                    <div class="pokemon-weakness">
                        <div class="pokemon-weakness__items">
                                                                                                            <div class="pokemon-weakness__btn pokemon-weakness__btn--grass size-14">
                                    <a href="/play/pokedex/grass#result">
                                        <!-- <span>草</span> -->
                                        <span>草</span>
                                    </a>
                                </div>
                                                                                                                                            <div class="pokemon-weakness__btn pokemon-weakness__btn--electric size-14">
                                    <a href="/play/pokedex/electric#result">
                                        <!-- <span>電</span> -->
                                        <span>電</span>
                                    </a>
                                </div>
                                                                                                        </div>
                    </div>
                </div>
                <div class="pokemon-main__right">
                    <div class="pokemon-info" v-cloak>
                        <transition name="pokemon-info__fade">
                            <div class="pokemon-info--inner" v-if="!ability_info_f && !ability_info_s && !ability_info_t">
                                <div class="pokemon-info__height">
                                    <span class="pokemon-info__title size-14">身高</span>
                                                                    <span class="pokemon-info__value size-14">0.5 m</span>
                                                                </div>
                                <div class="pokemon-info__category">
                                    <span class="pokemon-info__title size-14">分類</span>
                                    <span class="pokemon-info__value size-14"><span>小龜寶可夢</span></span>
                                </div>
                                <div class="pokemon-info__weight">
                                    <span class="pokemon-info__title size-14">體重</span>
                                                                    <span class="pokemon-info__value size-14">9.0 kg</span>
                                                                </div>
                                <div class="pokemon-info__gender">
                                    <span class="pokemon-info__title size-14">性別</span>
                                    <span class="pokemon-info__value size-14">
                                                                                    <img class="pokemon-info__gender-icon" src="/play/resources/pokedex/img/icon_male.png" alt="">
                                            <span class="pokemon-info__gender-separator">/</span>
                                            <img class="pokemon-info__gender-icon" src="/play/resources/pokedex/img/icon_female.png" alt="">
                                                                            </span>
                                </div>
                                                                <div class="pokemon-info__abilities">
                                    <span class="pokemon-info__title size-14">特性</span>
                                                                                                                <span class="pokemon-info__value size-14">
                                            激流
                                                                                        <img class="pokemon-info__question-icon" src="/play/resources/pokedex/img/icon_question.png" v-on:click="showAbilityText(0, true)">
                                                                                    </span>
                                                                                                            </div>
                                                            </div>
                        </transition>
                                                <transition name="pokemon-info__fade">
                                                                                    <div class="pokemon-info__ability_info" v-if="ability_info_f" v-show="id === 0">
                                                                <span class="pokemon-info__title size-14">特性</span>
                                    <img class="pokemon-info__ability_info--close_btn" src="/play/resources/pokedex/img/close_btn.png" v-on:click="showAbilityText(0, false)">
                                        <span class="pokemon-info__value pokemon-info__value--title size-18">激流</span>
                                        <span class="pokemon-info__value pokemon-info__value--body size-14"><span>ＨＰ減少的時候，水屬性的招式威力會提高。</span></span>
                                </div>
                                                                                </transition>
                    </div>
                </div>
            </div>
        </div>
        <div class="pokemon-detail__stats">
            <div class="pokemon-stats">
                <div class="pokemon-stats__story-wrapper">
                  <div class="pokemon-stats__story-inner">
                      <div class="pokemon-story" v-cloak>
                          <div class="pokemon-story__header">
                              <span class="pokemon-story__title size-20">圖鑑版本</span>
                              <div class="pokemon-story__icon-wrapper">
                                  <img class="pokemon-story__icon" :src="ballImage1" alt="" @click="whichStory = !whichStory">
                                  <img class="pokemon-story__icon" :src="ballImage2" alt="" @click="whichStory = !whichStory">
                              </div>
                          </div>
                          <p class="pokemon-story__body size-14" v-if="whichStory">
                              <span>甲殼的作用不僅是用來保護自己，圓潤的外形和表面的溝槽會減少水的阻力，使牠能夠快速地游泳。</span>
                          </p>
                          <p class="pokemon-story__body size-14" v-if="!whichStory">
                              <span>甲殼的作用不僅是用來保護自己，圓潤的外形和表面的溝槽會減少水的阻力，使牠能夠快速地游泳。</span>
                          </p>
                      </div>
                  </div>
                </div>
                <div class="pokemon-stats__status-wrapper">
                    <div class="pokemon-stats__title size-20">
                        <span>能力</span>
                    </div>
                    <div class="pokemon-stats__wrapper-status">
                        <div class="pokemon-status__block">
                            <div class="pokemon-status">
                                <div class="pokemon-status__scale-box">
                        <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale d3" v-bind:class="{ appear: isAppear }"></span>
                                <span class="pokemon-status__scale d2" v-bind:class="{ appear: isAppear }"></span>
                                <span class="pokemon-status__scale d1" v-bind:class="{ appear: isAppear }"></span>
            </div>                                <div class="pokemon-status__title size-10"><span>HP</span></div>
                            </div>
                            <div class="pokemon-status">
                                <div class="pokemon-status__scale-box">
                        <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale d3" v-bind:class="{ appear: isAppear }"></span>
                                <span class="pokemon-status__scale d2" v-bind:class="{ appear: isAppear }"></span>
                                <span class="pokemon-status__scale d1" v-bind:class="{ appear: isAppear }"></span>
            </div>                                <div class="pokemon-status__title size-10"><span>攻擊</span></div>
                            </div>
                            <div class="pokemon-status">
                                <div class="pokemon-status__scale-box">
                        <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale d4" v-bind:class="{ appear: isAppear }"></span>
                                <span class="pokemon-status__scale d3" v-bind:class="{ appear: isAppear }"></span>
                                <span class="pokemon-status__scale d2" v-bind:class="{ appear: isAppear }"></span>
                                <span class="pokemon-status__scale d1" v-bind:class="{ appear: isAppear }"></span>
            </div>                                <div class="pokemon-status__title size-10"><span>防禦</span></div>
                            </div>
                        </div>
                        <div class="pokemon-status__block">
                            <div class="pokemon-status">
                                <div class="pokemon-status__scale-box">
                        <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale d3" v-bind:class="{ appear: isAppear }"></span>
                                <span class="pokemon-status__scale d2" v-bind:class="{ appear: isAppear }"></span>
                                <span class="pokemon-status__scale d1" v-bind:class="{ appear: isAppear }"></span>
            </div>                                <div class="pokemon-status__title size-10"><span>特攻</span></div>
                            </div>
                            <div class="pokemon-status">
                                <div class="pokemon-status__scale-box">
                        <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale d4" v-bind:class="{ appear: isAppear }"></span>
                                <span class="pokemon-status__scale d3" v-bind:class="{ appear: isAppear }"></span>
                                <span class="pokemon-status__scale d2" v-bind:class="{ appear: isAppear }"></span>
                                <span class="pokemon-status__scale d1" v-bind:class="{ appear: isAppear }"></span>
            </div>                                <div class="pokemon-status__title size-10"><span>特防</span></div>
                            </div>
                            <div class="pokemon-status">
                                <div class="pokemon-status__scale-box">
                        <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale"></span>
                                <span class="pokemon-status__scale d3" v-bind:class="{ appear: isAppear }"></span>
                                <span class="pokemon-status__scale d2" v-bind:class="{ appear: isAppear }"></span>
                                <span class="pokemon-status__scale d1" v-bind:class="{ appear: isAppear }"></span>
            </div>                                <div class="pokemon-status__title size-10"><span>速度</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pokemon-detail__style">
            <div class="pokemon-style__title size-20">
                <span>樣子</span>
            </div>
            
                            <div class="pokemon-style pokemon-style--empty">
        <div class="pokemon-style__boxes-wrapper">
            <div class="pokemon-style__boxes">
                <div class="pokemon-style__boxes-inner">
                                                                        <span class="size-14">沒有不同的樣子</span>
                                                            </div>
            </div>
        </div>
    </div>                    </div>
        <div class="pokemon-detail__evolutions">
        <div class="pokemon-evolution bg-x-22 pokemon-evolution--3
pokemon-evolution--h
">
        <div class="pokemon-evolution__inner innerNormalStyle innerSimpleStyle">
            <div class="pokemon-evolution__title size-20">
            <span>進化</span>
        </div>
        <div class="pokemon-evolution-contents">
            <div class="pokemon-evolution-contents_flow">
                                        <div class="pokemon-evolutionlevel">
                                                                                                                                                                                                                                                <div class="pokemon-evolution-itembox">
                                                                                                    <a href="/play/pokedex/007">
                                                                    
                                                                        <div class="pokemon-evolution-item__image">
                                        <img class="pokemon-evolution-box__image" src="/play/resources/pokedex/img/pm/5794f0251b1180998d72d1f8568239620ff5279c.png">
                                    </div>
                                    <div class="pokemon-evolution-item__info">
                                                                            <p class="pokemon-evolution-box__no size-14">007</p>
                                        <p class="pokemon-evolution-item__info-name size-14">傑尼龜</p>
                                        <p class="pokemon-evolution-item__info-subname size-10"></p>
                                        <div class="pokemon-evolution-box__types">
                                                                                            <div class="pokemon-evolution-item__info-type pokemon-evolution-box__type--water size-12">
                                                    <div><span>水</span></div>
                                                </div>
                                                                                    </div>
                                    </div>
                                                                                                </a>
                            
                                                                                                                                                                                                                                                                                                                                                                <div class="pokemon-evolution-item__narrow">
                                                                            <div class="pokemon-evolution__arrow-wrapper">
                                            <img class="pokemon-evolution__arrow" src="/play/resources/pokedex/img/arrow_down.png">
                                        </div>
                                    </div>
                                                                                        </div>
                                                                                        </div>
                                            <div class="pokemon-evolutionlevel">
                                                                                                                                                                                                                                                <div class="pokemon-evolution-itembox">
                                                                                                    <a href="/play/pokedex/008">
                                                                    
                                                                        <div class="pokemon-evolution-item__image">
                                        <img class="pokemon-evolution-box__image" src="/play/resources/pokedex/img/pm/a3bc17e6215031332462cc64e59b7922ddd14b91.png">
                                    </div>
                                    <div class="pokemon-evolution-item__info">
                                                                            <p class="pokemon-evolution-box__no size-14">008</p>
                                        <p class="pokemon-evolution-item__info-name size-14">卡咪龜</p>
                                        <p class="pokemon-evolution-item__info-subname size-10"></p>
                                        <div class="pokemon-evolution-box__types">
                                                                                            <div class="pokemon-evolution-item__info-type pokemon-evolution-box__type--water size-12">
                                                    <div><span>水</span></div>
                                                </div>
                                                                                    </div>
                                    </div>
                                                                                                </a>
                            
                                                                                                                                                                                                                                                                                                                                                                <div class="pokemon-evolution-item__narrow">
                                                                            <div class="pokemon-evolution__arrow-wrapper">
                                            <img class="pokemon-evolution__arrow" src="/play/resources/pokedex/img/arrow_down.png">
                                        </div>
                                    </div>
                                                                                        </div>
                                                                                        </div>
                                            <div class="pokemon-evolutionlevel">
                                                                                                                                                                                                                                                <div class="pokemon-evolution-itembox">
                                                                                                    <a href="/play/pokedex/009">
                                                                    
                                                                        <div class="pokemon-evolution-item__image">
                                        <img class="pokemon-evolution-box__image" src="/play/resources/pokedex/img/pm/2fe157db59153af8abd636ab03c7df6f28b08242.png">
                                    </div>
                                    <div class="pokemon-evolution-item__info">
                                                                            <p class="pokemon-evolution-box__no size-14">009</p>
                                        <p class="pokemon-evolution-item__info-name size-14">水箭龜</p>
                                        <p class="pokemon-evolution-item__info-subname size-10"></p>
                                        <div class="pokemon-evolution-box__types">
                                                                                            <div class="pokemon-evolution-item__info-type pokemon-evolution-box__type--water size-12">
                                                    <div><span>水</span></div>
                                                </div>
                                                                                    </div>
                                    </div>
                                                                                                </a>
                            
                                                                                                                                                </div>
                                                                                        </div>
                                    </div>
        </div>
    </div>
</div>
        </div>

                <div class="pokemon-detail__sns">
            <div class="article-sns">
                <ul class="article-sns__body">
                                            <li class="article-sns__element">
                            <a href="http://www.facebook.com/share.php?u=https%3A%2F%2Ftw.portal-pokemon.com%2Fplay%2Fpokedex%2F007" target="_blank">
                                <img src="/play/resources/pokedex/img/icon_share-facebook.png" width="30" alt="Facebook">
                            </a>
                        </li>
                        <li class="article-sns__element">
                            <a href="http://twitter.com/share?url=https%3A%2F%2Ftw.portal-pokemon.com%2Fplay%2Fpokedex%2F007" rel="nofollow" target="_blank">
                                <img src="/play/resources/pokedex/img/icon_share-twitter.png" width="30" alt="Twitter">
                            </a>
                        </li>
                                    </ul>
            </div>
        </div>
        <div class="pokemon-detail__back-to-top">
            <div class="pokemon-back-to-top">
                <a href="/play/pokedex">
                    <div class="pokemon-back-to-top__button size-14">
                        <span>返回Pokédex</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

        <footer class="global-footer" role="contentinfo">
	<div class="global-footer__upper">
		<div class="global-footer__official--title visible-xs">
			官方帳號
		</div>
		<div class="global-footer__upper--body">
			<div class="global-footer__official">
				<div class="global-footer__official--title hidden-xs">
					官方帳號
				</div>
				<ul class="global-footer__official--list">
									<li><a href="https://www.facebook.com/%E7%B2%BE%E9%9D%88%E5%AF%B6%E5%8F%AF%E5%A4%A2-%E5%8F%B0%E7%81%A3-1041278776012303/" target="_blank">
										 <img src="/assets_c/2017/10/icon_facebook-thumb-132x132-323-thumb-132x132-3939.png" width="66" alt="
											Facebook
											">
										</a></li>
									<li><a href="https://www.youtube.com/channel/UCUsB9KTwSGgPlIARzdaKb_Q/" target="_blank">
										 <img src="/assets_c/2017/10/icon_youtube-thumb-132x132-319-thumb-132x132-3940.png" width="66" alt="
											Youtube
											">
										</a></li>
				</ul>
			</div>
				<div class="global-footer__local-col3">
					<div class="global-footer__local--link"> <a href="http://www.pokemon.com.tw/" target="_blank"> <img src="/img/common/masteragency_logo_tw_pc.png" class="hidden-xs" alt="曼迪傳播有限公司 MIGHTY MEDIA CO., LTD"> <img src="/img/common/masteragency_logo_tw_sp.png" class="visible-xs" alt="曼迪傳播有限公司 MIGHTY MEDIA CO., LTD"> </a> </div>
					<div class="global-footer__local--link"> <a href="http://www.pokemontretta.com.tw/" target="_blank"> <img src="/img/common/masteragency_tretta_tw_pc.png" class="hidden-xs" alt="Pokémon TRETTA"> <img src="/img/common/masteragency_tretta_tw_sp.png" class="visible-xs" alt="Pokémon TRETTA"> </a> </div>
					<div class="global-footer__local--link"> <a href="http://www.nintendo.tw/hardware/switch/" target="_blank"> <img src="/img/common/nintendo-banner.png" alt="NINTENDO SWITCH"></a> </div>
				</div>
		</div>
	</div>
	<div class="global-footer__lower">
		<div class="global-footer__lower--body">
			<div class="global-footer__links" role="complementary">
				<ul>
					<li><a href="/about/">
						寶可夢是什麼？
						</a></li>
					<li><a href="/termofuse/">
						使用條款
						</a></li>
					<li><a href="/privacypolicy/">
						隱私權政策
						</a></li>
					<li><a href="/sitemap/">
						網站地圖
						</a></li>
				</ul>
			</div>
			<div class="global-footer__country"> <a href="/country/"> <span>
				台灣
				</span> </a> </div>
			<div class="global-footer__copyright"> <small> &copy;2018 Pokémon. &copy;1995 - 2018 Nintendo/Creatures Inc./GAME FREAK inc.<br>
				&copy;1997 Nintendo, Creatures, GAME FREAK, TV Tokyo, ShoPro, JR Kikaku. &copy;Pokémon. TM and &reg; are trademarks of Nintendo. </small> </div>
		</div>
	</div>
</footer>    <script src="/play/resources/pokedex/js/app.js?20210224"></script>
    <script src="/play/resources/pokedex/js/pokemon-detail.js?20210224"></script>
<script src=  "/js/baser.min.js"  ></script>
<script src=  "/js/slick.min.js"  ></script>
<script src=  "/js/script_common.js"  ></script>    </body>
</html>
